<!DOCTYPE html>
<html>
<head>
    <title>Human Activity Recognition Launcher</title>
</head>
<body>
    <h1>Run HAR Modules</h1>
    <form method="POST" action="/run">
        <button name="script" value="recognise_human_activity">Recognise Human Activity</button><br><br>
        <button name="script" value="app1">App1</button><br><br>
        <button name="script" value="c">Suspicious Action Notification</button><br><br>
        <button name="script" value="clip">Clip Extractor</button><br><br>
        <button name="script" value="clip1">Clip with Time Range</button><br><br>
        <button name="script" value="human_face">Activity + Face Recognition</button><br><br>
        <button name="script" value="light_fan_notify">Light/Fan Notify</button><br><br>
    </form>
</body>
</html>
